#grid-container {
    display: grid;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-block: 50px;
    margin-inline: 10px;
    grid-row: 2;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 1px 0 black;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.post-heading {
    margin-bottom: 10px;
    font-family: nerko-one;
}

.post-text {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 1.1em;
    font-family: system-ui, -apple-system, sans-serif;
    border: none;
}

.read-more {
    font-size: 0.6em;
}

@media (min-width: 600px) {
    main {
        margin-inline: 100px;
    }
    .author {
        flex-direction: row;
    }
}
@media (min-width: 800px) {
    .post-text {
        font-size: 1.5em;
    }
    .social-img:hover {
        opacity: 1;
    }
    .author-sharing {
        width: 35%;
    }
}

@media (min-width: 1024px) {
    .author-sharing {
        width: 25%;
    }
}

@media (min-width: 1440px) {
    main {
        flex-direction: row;
    }
    .card {
        width: 40%;
    }
    .author-sharing {
        width: 50%;
    }
}
