nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}
#nav-list {
    display: flex;
    width: calc(100% - 50px);
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

#nav-list a {
    text-decoration: none;
    font-family: exo2;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
    transition: 0.3s all;
}
#nav-logo-container {
    margin-top: 5px;
    margin-left: 10px;
    width: 30px;
    height: 100%;
}
#nav-logo {
    width: 100%;
    height: 100%;
}

@media (min-width: 800px) {
    #nav-list a {
        font-size: 2.7em;
    }
    #nav-logo-container {
        width: 70px;
    }
}

@media (min-width: 1440px) {
    #nav-list a:hover {
        color: rgb(71, 71, 194);
    }
}
